node_modules
dist
.next
.turbo
coverage
uploads
.env
.env.local
.env*.local
*.tsbuildinfo
playwright-report
test-results
blob-report
.pnpm-store
*.log
.DS_Store
*.pem
.vercel
out
build
.pnp
.pnp.js
apps/api/generated
